<div class="mb-4">
    <h2 class="text-success">
        Sign Up
    </h2>
    <div>Already have an account?
        <a routerLink="/signin" class="text-decoration-none fw-medium text-success d-inline-block">Sign In</a>
    </div>
</div>
<form [formGroup]="form" (submit)="onSubmit()">
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="Full Name" formControlName="fullName">
        <div class="error-feedback"
            *ngIf="hasDisplayableError('fullName') && form.controls.fullName.hasError('required')">
            Please enter your Full Name.
        </div>
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" type="email" placeholder="Email" formControlName="email">
        <div class="error-feedback" *ngIf="hasDisplayableError('email')">
            <div *ngIf="form.controls.email.hasError('required')">
                Please enter your Email Address.
            </div>
            <div *ngIf="form.controls.email.hasError('email')">
                Please enter a valid Email Address.
            </div>
        </div>
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" type="password" placeholder="Password" formControlName="password">
        <div class="error-feedback" *ngIf="hasDisplayableError('password')">
            <div *ngIf="form.controls.password.hasError('required')">
                Please enter your password.
            </div>
            <div *ngIf="form.controls.password.hasError('minlength')">
                Minimum six characters required.
            </div>
        </div>
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="Confirm Password" formControlName="confirmPassword">
        <div class="error-feedback"
            *ngIf="hasDisplayableError('confirmPassword') && form.controls.confirmPassword.hasError('passwordMismatch')">
            Password doesn't match.
        </div>
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-success w-100 rounded-3">Register</button>
    </div>
</form>